/* ============================================================
  CUSTOM PAGINATION
============================================================ */
.custom-pagination span,
.custom-pagination a {
    display: inline-block;
    padding: .4rem 1rem;
}
.custom-pagination a {
    background-color: #ebebeb;
    color: #000;
    padding: .4rem 1rem;
}
.custom-pagination a:hover {
    background-color: #FFF;
    color: #fff;
}
.custom-pagination span.page-num {
    margin-right: 10px;
    padding: 0;
}
.custom-pagination span.dots {
    padding: 0;
    color: gainsboro;
}
.custom-pagination span.current {
    background-color: #000;
    color: #fff;
}

.custom-pagination .page-numbers {
    display: inline-block;
}
/* ============================================================
  REVIEWS LIST
============================================================ */

.reviews li {
    padding-left: 7rem;
    list-style: none;
}

.reviews li.houzz-review-src {
    background: #FFF url("images/houzz-logo-icon.svg")  no-repeat left 2rem;
    background-size: 90px 90px;
}

/* ============================================================
  STARS
============================================================ */
.sonet-star-rating {
    width: 10rem;
}
